{
  "extends": [
    "plugin:vue/vue3-essential",
    "plugin:vue/vue3-recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "no-unused-vars": "off",
    "semi": "off",
    // "vue/multiline-html-element-content-newline": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/max-attributes-per-line": "off",
    "vue/multi-word-component-names": "off",
    "vue/require-prop-types": "off"
  }
}