electron_mirror=https://registry.npmmirror.com/-/binary/electron/
# registry=https://registry.npmmirror.com
node-linker=hoisted
public-hoist-pattern=*
shamefully-hoist=true
block-exotic-subdeps=false
fetch-timeout=300000
fetch-retries=5
fetch-retry-maxtimeout=120000
fetch-retry-mintimeout=10000
