electron_mirror=https://npmmirror.com/mirrors/electron/
# ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/" node node_modules/electron/install.js
# registry=https://registry.npmmirror.com
# node-linker=hoisted
fetch-timeout=300000
fetch-retries=5
fetch-retry-maxtimeout=120000
fetch-retry-mintimeout=10000
