# electron_mirror=https://npmmirror.com/mirrors/electron/
# registry=https://registry.npmmirror.com
# node-linker=hoisted

# ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/" node node_modules/electron/install.js